@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.advisory-page {
  .advisory-journey {
    padding: 0 0 90px;
    background: linear-gradient(180deg, $white 0%, #eef1ff 38%, $blue 100%);
    .advisory-journey_stack{
      position: relative;
      width: 100%;
      @include lg{
        max-width: 1000px;
        margin: 0 auto;
      }

      .advisory-panel{
        position: sticky;
        top: 150px; // below your header
        margin-bottom: 80px;
        border-radius:20px;
      }

      .advisory-scope-top{
        padding: 40px 20px 100px;
        box-shadow: 0px 4px 25px 0px #00000026;
        border: 1px #D1D5DC;
        border-radius: 20px;
        background: $white;
         z-index:1;
        @include lg{
          padding: 40px 20px 150px;
        }

        header {
          margin-bottom: 28px;
          text-align: center;
          @include lg{
            margin-bottom: 40px;
          }
          h2 {
            margin: 0;
            color: $primary-color;
          

            span {
              color: $blue;
            }
          }
          p{
            font-family: Nunito Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: #4A5565;

          }
        }

        .advisory-scope{
          display: grid;
          grid-template-columns: 1fr;
          gap: 18px 28px;
          @include md{
            grid-template-columns: repeat(2, 1fr);
          }
          @include lg{
            grid-template-columns: repeat(3, 1fr);
          }
          div {
            max-width: 290px;
            min-height: 110px;
            padding: 20px;
            border: 1px solid #E5E7EB;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 3px;
            justify-content: flex-start;

            i {
              font-size: 24px;
              flex-shrink: 0;
              color: $blue;

              &.orange {
                color: #ff6b00;
              }
            }
            p{
              margin: 0px;
              color: $black;
            }
          }

        }


      }
      .engagement-model{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 25px 0px #00000026;
        border: 1px solid #D1D5DC;
        background-color: $white;
        border-radius: 20px;
        // margin-top: -50px;
        padding: 25px;
        z-index:2;
        @include lg{
          width: 1000px;
          flex-direction: row;
          padding: 70px 40px 120px;
        }

        .engagement-model_image{
          img{
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
            @include lg{
              width: 100%;
              max-width: 460px;
              min-height: 500px;
              
            }

          }
        }

        .engagement-model_content{
          padding: 20px 0;
          @include lg{
            padding: 0 35px;
          }
          // margin: 20px 0;

          h2{
            color: $black;
            @include lg{
              width: 400px;
            }
            span{
              color: $orange;
            }
            
          }
          p{
            font-family: Nunito Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0px;
            color: #4A5565;
          }
          ol {
            margin: 0;
            padding: 0;
            list-style: none;
            li{
              position: relative;
              display: flex;
              justify-content: flex-start; 
              align-items: center;
              gap: 15px;
              flex-direction: row;
              margin-bottom: 30px;
              span.number{
                text-align: center;
                min-width: 40px;
                min-height: 40px;
                border-radius: 50%;
                display: inline-grid;
                place-items: center;
                background: $blue;
                color: $white;
                position: relative;
                z-index: 2;
                @include lg{
                  min-width: 60px;
                  min-height: 60px;
                }
              }
              &:not(:last-child)::after {
                content: "";
                position: absolute;
                left: 19px; // center of 60px circle
                top: 40px;  // start below circle
                height: 40px; // match margin-bottom
                // border-left: 2px dotted #364153;
                border-left: 2px dotted #36415433;
                z-index: 1;
                @include lg{
                  left: 29px; // center of 60px circle
                  top: 60px;  // start below circle
                  height: 30px;
                }
              }
              &:nth-child(2) > span.number {
                background: #ff6b00;
              }

              &:nth-child(3) > span.number {
                background: #b9bdc7;
              }
            }
          }
        }

        
      }
      .advisory-testimonials{
        border: 1px solid #D1D5DC;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px 0px #00000026;
        border-radius: 20px;
        padding: 25px;
        z-index:3;
        // margin-top: -50px;
        @include lg{
          padding: 75px;
          // margin-top: -50px;
        }

        header{
          text-align: center;
          h2{
            color: #1A1A1A;
            span {
              color: #4361ee;
            }
          }
        }
        .advisory-testimonials_slider{
          .testimonial-card {
            margin: 0;
            padding: 24px;
            background: $white;
            text-align: left;
            min-height: 280px;

            .quote-mark img{
              margin-bottom: 12px;
            }
            p{
              color: $black;
            }
            footer {
              display: flex;
              align-items: center;
              gap: 12px;
              margin-bottom: 16px;

              .avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $light-bg;
                color: $blue;
                font-weight: $fw-semibold;
                flex-shrink: 0;
              }

              div {
                display: flex;
                flex-direction: column;
                p{
                  margin-bottom: 0px;
                }
                .testoName{
                  font-family: Nunito Sans;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 26px;
                  letter-spacing: 0%;
                  color: #4160F0;
                }
                .testoRole{
                  color: $black;
                }
                .testoCompany{
                  color: #6A7282;
                }
                
              }
            }
            .outcome {
              // border-top: 1px solid $border-color;
              padding-top: 15px;

              .outcomeheading {
                margin-bottom: 6px;
                color: $orange;
              }

              .content{
                margin: 0;
                color: #6A7282;
                
              }
            }
          }
          .custom-progress {
            width: 100%;
            height: 4px;
            background: rgba(255,255,255,0.15);
            border-radius: 50px;
            overflow: hidden;
            margin-top: 24px;

            span {
              display: block;
              height: 100%;
              background: #ff6b00;
              transition: width 0.4s ease;
            }
          }
        }
      }
    }

    
  }
  .advisory-journey_btn{
      .advisory-btn{
      align-self: flex-end;
        margin-top: auto;
        padding: 10px 16px;
        border-radius: 4px;
        background: $white;
        color: $blue;
      }
      .advisory-btn:hover{
    color: $orange;
  }
  }
  
}
  