@use '../../assets/scss/variables' as *;
@use '../../assets/scss/_mixins.scss' as *;
.AboutHero-section{
    // height: 540px;
    padding: 70px 0px;
    z-index: 2;
    overflow: hidden;

    background-image: url('../../assets/images/aboutherobg.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container{
        width: 800px;
        p,h2{color: #fff;}
    }

    
}