@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.platform-page {
  .platform-hero {
    position: relative;
    min-height: 380px;
    // margin-top: 70px;
    border-radius: 0 0 36px 36px;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: $white;
    @include lg{
      min-height: 350px;
      margin-top: 0;
      border-radius: 0 0 58px 58px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        rgba(25, 61, 194, 0.86),
        rgba(30, 64, 175, 0.72),
        rgba(69, 35, 22, 0.62)
      );
    }

    &__content {
      position: relative;
      z-index: 1;
      text-align: center;

      p {
        color: $white;
      }
    }

    &__summary {
      max-width: 730px;
      margin: 0 auto;
    }
  }
}
