@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.testimonial-section {
 


  @media (max-width: 991px) {
    .testimonial-grid,
    .stats-row {
      grid-template-columns: 1fr;
      display: grid;
      gap: 20px;
    }

    .section-title h2 {
      font-size: 36px;
    }
  }
}

//scss
.testimonial-section {
    // padding: 100px 0;  
    padding: 45px 0 70px;
    background: $light-bg;


    .section-title {
      text-align: center;
      margin-bottom: 30px;

      h5{
        color: $orange;
      }

      h2 {
        
        .highlight {
         color: #4868ff;
        }
      }
    }

    .testimonial-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      @include md{
       grid-template-columns: repeat(3, 1fr);
       
      }
      
    }

    .testimonial-card {
      background: #fff;
      min-height: 386px;
      padding: 27px;
      border: 2px solid #F3F4F6;
      border-radius: 16px;
      box-shadow: none;

      .stars {
        font-size: 15px;
        color: $orange;
        margin-bottom: 10px;
      }

      .quote {
        font-size: 30px;
        margin-bottom: 10px;
      }

      p {
        min-height: 88px;
        // font-size: 10px;
        // line-height: 1.45;
        margin-bottom: 32px;
      }

      .author {
        padding-top: 24px;
        display: flex;
        gap: 12px;
        align-items: flex-start;
        padding-top: 20px;
        border-top: 1px solid #eee;
        flex-direction: column;
        @include lg{
          flex-direction: row;
          align-items: center;
        }

        .author-avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: grid;
          place-items: center;
          background: #eef1ff;
          color: #4868ff;
          font-size: 9px;
        }
        .author-info{
          .author-name{
            font-family: Nunito Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0%;
            color: $bluetext;
          }
          .author-role{
            min-height: 10px;
            margin-bottom: 0px;
            color: $black;
          }
          .author-company{
            min-height: 10px;
            margin-bottom: 0px;
            max-width: 257px;
            width: 100%;
            color: $gray-text;
            @include xl{
              min-width: 257px;
            }
          }
        }

      }
    }

    .results-text {
      text-align: center;
      margin: 40px 0px;
      color: #4A5565; 
    }

    .stats-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 30px 0px 60px;
      text-align: center;
      @include xl{
        flex-direction: row;
      }
      

      div:nth-child(1) h3, div:nth-child(3) h3 {
        color: #4868ff;
        font-weight: 400;
      }

      div:nth-child(2) h3 {
        color: #f58220;
        font-weight: 400;
      }

      span{
        color: #4A5565;
      }

    }

    .industry-tags {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-top: 70px;
      flex-wrap: wrap;

      span.myButton {
        border-radius: 50px;
        border: 2px solid $bluetext;
        color: $bluetext;

        &:nth-child(even) {
          border-color: $orange;
          color: $orange;
        }
        
      }
    }
}
