@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.insights-page {
  .insights-hero {
    min-height: 285px;
    border-radius: 0 0 58px 58px;
    display: flex;
    align-items: center;
    background: linear-gradient(110deg, $blue 0%, #8174b9 52%, #ff6500 100%);
    color: $white;
   @include xxl { 
      min-height:630px;
      // margin-top: 70px;
      border-radius: 0 0 36px 36px;
    }

    &__content {
      text-align: center;

      h1 {
        margin: 8px 0 0;
        color: $white;
        letter-spacing: 0;
      }

      p {
        color: $white;
      }
    }
  }
}


