@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;
.cta-section{
    background: linear-gradient(135deg, #4160F0 0%, #5A7CED 50%, #4160F0 100%);
    padding: 70px 0;
    .container{
        width: 100%;
        @include lg{
            width: 896px;
        }
        h2{
            color:#FFFFFF;
;
        }
        p{
            font-family: Nunito Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #DBEAFE;


        }
        .buttons{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                @include xl{
                    flex-direction: row;
                }
            .primary-btn{
                background: #FF6700;
                box-shadow: 0px 4px 20px 0px #FF67004D;
                border: none;
                color: $white;
                i{
                    margin: 0 5px;
                }

            }
            .secondary-btn{
                border: 2px solid #FFFFFF;
                color: $white;
                i{
                    margin: 0 5px;
                }

            }

        }
    }
}
