@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;




//scss
.approach-platforms{
  padding: 0 0 70px;
  background: #ffffff;
  .approach-platforms__list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .approach-platforms__item {
      overflow: hidden;
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(17, 17, 17, 0.08);

      &.is-open{
        .approach-platforms__item-icon {
          box-shadow: 0px 4px 6px -4px #0000001A;
          img{
            box-shadow: 0px 10px 15px -3px #0000001A;
          }
        }

      }

      &.is-open.blue{
        border: 1px solid $blue;
        > button {
          .approach-platforms__item-icon {
            background-color: $blue;
          }
          .approach-platforms__item-title {
            color: $blue;
          }
        }
        .innerpanel{
          .approach-platforms__placeholder {
            .approach-platforms_body {
              h4{
                color: $blue;
                margin-bottom: 10px;
              }
            }
          }
        }
      }


      &.blue{
        .approach-platforms__item-icon{
          background-color: $blue;
        }
        .approach-platforms__chevron {
            color: $blue;
          }
      }

      &.is-open.orange{
        border: 1px solid $orange;
        > button {
          .approach-platforms__item-icon {
            background-color: $orange;
          }
          .approach-platforms__item-title {
            color: $orange;
          }
          
        }
        .innerpanel{
          .approach-platforms__placeholder {
            .approach-platforms_body {
              h4{
                color: $orange;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      &.orange{
        .approach-platforms__item-icon{
          background-color: $orange;
        }
        .approach-platforms__chevron {
            color: $orange;
          }
      }

      > button {
          width: 100%;
          padding: 15px;
          border: 0;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 16px;
          background: $white;
          text-align: left;
          cursor: pointer;
          @include md{
            padding: 32px;
            align-items: center;
          }

          .approach-platforms__item-icon {
            flex: 0 0 30px;
            width: 30px;
            height: 30px;
            border-radius: 7px;
            display: grid;
            place-items: center;
            color: #ffffff;
            font-size: 19px;
            
            @include md{
              flex: 0 0 42px;
              width: 42px;
              height: 42px;
            }
            @include xxl{
              flex: 0 0 64px;
              width: 64px;
              height: 64px;
            }
            img{
              @include xxl{
                width: 64px;
                height: 64px;
              }

            }
            
          }
          
          .approach-platforms__item-title {
            display: flex;
            flex: 1;
            flex-direction: column;
            h2{
              margin-bottom: 0px;
            }
            p{
              font-family: Nunito Sans;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0px;
              color: #4A5565;
            }
          }
          .approach-platforms__chevron {
              font-size: 18px;
          }
        }

      .innerpanel{
        .approach-platforms__placeholder {
          padding: 22px;
          border-top: 1px solid #dddddd;
          text-align: left;
          @include lg{
            padding: 32px;
          }

          h3{
            color: $black;
          }

          p {
            color: #364153;
          }

          .approach-platforms_body {
            margin-bottom: 5px;
            // text-align: left;

            .approach-platforms_packs {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                @include md{
                  grid-template-columns: repeat(2, 1fr);
                }
                article {
                  min-height: 112px;
                  padding: 14px;
                  border: 2px solid #E5E7EB;
                  border-radius: 12px;
                  background: #fbfcff;
                  h5{
                    font-family: Nunito Sans;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    margin-bottom: 8px;
                    color: #4160F0;

                  }
                  .label{
                    font-family: Nunito Sans;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: $orange;
                  }
                  .audience{
                    font-family: Nunito Sans;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #4A5565;
                    span{
                      display: inline;
                      font-weight: 400;
                    }
                  }
                  .copy{
                    font-family: Nunito Sans;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #364153;
                  }
              }
            }
          }

          .approach-platforms__capability {
            margin-top: 30px;
            
            h6{
              font-family: Nunito Sans;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0px;
              text-transform: uppercase;
              text-decoration: underline;
              text-underline-offset: 6px;
              color: $blue;

            }
            h4{
              margin-bottom: 15px;
              color: $blue;
            }
            .featuredbox{
              border: 2px solid #E5E7EB;
              border-radius: 12px;
              background: #F9FAFB;
              padding: 15px;
              @include md{
                padding: 25px;
              }
              p{
                color: #364153;
              }
              ul{
                margin-top: 8px;
                display: grid;
                grid-template-columns:1fr;
                gap: 4px 20px;
                @include md{
                  grid-template-columns: repeat(2, 1fr);
                }
                li{
                  i{
                    color: $blue;
                    margin: 0px 15px;
                  }
                }
              }

            }
          }

          .approach-platforms__actions {
            margin-top: 22px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include md{
              flex-direction: row;
            }
             a {
              padding: 11px 18px;
              border: 1px solid #4361ee;
              border-radius: 3px;
              background: #4361ee;
              color: #ffffff;
              font-size: 10px;
              font-weight: 600;
              &.outline {
                background: #ffffff;
                color: #4361ee;
              }
            }
            
          }

          
        }
      }
    }
  }
  .approach-platforms_btn{
    padding: 30px 0px;
    margin-top: 30px;
    a{
      background-color: $orange;
      color: $white;
    }
  }
}