@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;
.footer {
  background: #364153;

  // background: #1b2430;
  color: $white;
  padding: 80px 0;

  .widget1{
    .footerlogo{
    margin-bottom: 16px;
    }

    .company-info{
      font-family: Nunito Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 22.75px;
      letter-spacing: 0px;
      color:$white;
      width: 272px;
    }

  }
  
  .Capabilities, .Company ,.Resources{
    h5{
      color: $orange;
    }
    ul {
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
      }
    }

  }

  

  

  
}