@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.about-page .AboutHero-section {
  position: relative;
  min-height: 285px;
  padding: 62px 0 68px;
  overflow: hidden;
  border-radius: 0 0 85px 85px;
  background:
    linear-gradient(#02157166,#00000066),
    url('../../assets/images/aboutherobg.png') center 42% / cover no-repeat;
  box-shadow: 0 12px 22px rgba(20, 38, 83, .18);
  @include xl{
    min-height: 630px;
    margin-top: -57px;
        display: flex;
        flex-direction: column;
        justify-content: center;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 840px;
  }

  .about-hero-eyebrow {
    margin-bottom: 8px;
    color: $white;
  }

  h2 {
    margin: 0 0 8px;
    color: $white;
    

    span {
      color: #ff6700;
    }
  }

  .about-hero-copy {
    max-width: 748px;
    margin: 0 auto;
    color: rgba(255, 255, 255, .9);
    
  }
}

@media only screen and (max-width: 767px) {
  .about-page .AboutHero-section {
    min-height: 250px;
    padding: 52px 0;
    border-radius: 0 0 30px 30px;

    h2 {
      font-size: 30px;
    }
  }
}
