$primary-color: #111111;
$text-color: #333333;
$light-text: #777777;
//    $blue : #3D5DF7;
$blue: #4361ee;
$black :#000000;

$white: #ffffff;
$light-bg: #f7f7f7;
$border-color: #dddddd;

$orange: #FF6700;

$radius-sm: 12px;
$radius-md: 20px;
$radius-lg: 30px;
$radius-full: 999px;

$transition: all 0.3s ease;

/* =========================
   TYPOGRAPHY
========================= */

$font-primary: "Nunito Sans", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;

$lh-100: 100%;
$lh-150: 150%;
$lh-170: 170%;